{% extends 'layout.html' %}

{% block body %}

<h1>Welcome User!</h1>

{% if session %}

<p> welcome {{ session['username'] }}</p>

<p>you have logged in as {{ session['type'] }}</p>

{% else %}
<p>Create an account!</p>
<form action="/signup" method="POST">
  Username:<br>
  <input type="text" name="username" placeholder="username...">
  <br>
  Password:<br>
  <input type="password" name="password1" placeholder="enter password..."><br><br>
  Confirm Password:<br>
  <input type="password" name="password2" placeholder="password again..."><br><br>
  <input type="radio" name="type" value="buyer"> buyer<br>
  <input type="radio" name="type" value="seller"> seller<br>
  <br><br>
  <input type="submit" value="submit">
</form> 

<p>Already have an account? Log In!</p>
<form action="/login" method="POST">
  Username:<br>
  <input type="text" name="username" placeholder="username...">
  <br>
  Password:<br>
  <input type="password" name="password" placeholder="password..."><br><br>
  <input type="submit" value="submit">
</form> 
{% endif %}
{% endblock body %}
